body {
    margin: 0;
    font-family: Segoe UI;
}

.container {
    width: 60%;
    margin: auto;
}

.col-1 {width: 8.33%; }
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 31.33%;
    float: left;
    overflow: hidden;
    margin-right: 2%;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}  


/******header area*******/
.header-area {
    background-color: #23232e;
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
}
.color-spa {
    color: salmon;
}

.header-area a {
    color: #ffffff;
    text-decoration: none;
}
.header-area h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.logo1 img {
    width: 60px;
    height: auto;
    margin-bottom: 50px;
}

.slogan p {
    font-size: 15px;
    color: #cccccc;
}
.gonext {
    margin-top: 80px;
}
.gonext a i {
    border: 1px solid #fff;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 10px;
  }  
/***** About ****/    
.about {
    background-image:url(images/background.png);
    padding: 50px 0;
    background-size: cover;
    display: block;
    overflow: hidden;
}  
    
.paragraph p {
    color: #666;
    margin: auto;
    width: 70%;
    text-align: center;
}

.about h2 {
    font-family: 'Courgette', cursive;
    color: #464b4f;
    text-transform: uppercase;
    font-size: 40px;
    padding: 40 0 0 0;
    text-align: center;
}
    
.row h4 {
     text-transform: uppercase;
}
.col-4 p {
    color: #666;
    font-size: 15px;
}

/*** Portfolio****/    
    
.portfolio {
    padding: 50px 0;
    overflow: hidden;
    color: rgb(1, 0, 20);
    
}  
    
.portfolio h2 {
    font-family: 'Courgette', cursive;
    color: rgb(1, 0, 20);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px 0 0 0;
} 

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
    
.menu ul li {
    list-style: none;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: 60;
    display: inline;
    margin: 0 5px;
}
.menu {
    overflow: hidden;
    margin-bottom: 30px;
} 
.menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(1, 0, 20);
    text-transform: capitalize;
    display: inline-block;
    border-bottom: 2px solid transparent;
    padding: 3px 0;
}
.menu ul li a:hover {
    border-bottom: 2px solid #6666cc;
}
.menu ul .hover a {
    border-bottom: 2px solid #6666cc;
} 
.workcolums {
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
}
.workcolums a {
    color: rgb(1, 0, 20);
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 10px 0;
}
.col-4 img {
    width: 100%;
    height: auto;
}
.workcolums .col-4 h5 {
    text-align: center;
    color: rgb(1, 0, 20);
    font-size: 19px;
    text-decoration: none;
    margin: 5px 0;
    
} 

.workcolums .col-4 h6 {
   text-align: center;
    color: rgb(1, 0, 20);
    font-size: 15px;
    text-decoration: none;
    margin: 0 0 10px 0;
    overflow: hidden;
    display: block;
}

.button {
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
}
.button a {
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    color: rgb(1, 0, 20);
    background-color: #6666cc;
    text-transform: capitalize;
}

/******* Photography ******/
.photography {
    background-size: cover;
    padding: 80px 0;
    overflow: hidden;
    background-image:url(images/background.png);
    background-repeat: repeat;
}
.photography h2 {
    color: #464b4f;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0;
}
.photography p {
    margin-top: 0;
    text-align: center;
    font-size: 17px;
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}
.row {
    overflow: hidden;
    padding: 30px 0;
}

/**** Subscribe area ******/

.subscribe {
    background-color: #23232d;
    padding: 70px 0;
    text-align: center;
    color: #ffffff;
}
.infinite {
    padding: 50px 0;
}

.subscribe form input {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.subscribe input[type="text"] {
    margin-right: 10px;
    font-family: Segoe UI;
}
.subscribe input[type="submit"] {
    cursor: pointer;
    background-color: #6666cc;
    color: #ffffff;
    font-family: Segoe UI;
}

.subscribe p {
    padding: 30px 0;
}
.footy {
    padding: 50px 0;
    background-image: url('images/background.png');
    background-size: cover;
}

.socialmedia ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.socialmedia ul li {
    display: inline;
    margin: 0 20px;
    font-size: 50px;
}
.socialmedia ul li a {
    color: #cccccc;
}
.copyright {
    text-align: center;
    color: #cccccc;
    padding: 20px 0;
    text-transform: capitalize;
    
}


